<%= render('layouts/errors', :object => @sentence) %>

<%= form_for [@story, @sentence] do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user %>
  <%= f.label :contribution %>
  <%= f.text_field :contribution %>
  <%= f.hidden_field :icon, :value => @random_s %>
  <p><%= f.submit %></p>
<% end %>
