<h1>Edit story</h1>

<% if @story.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @story.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @story do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <%= f.submit  %>
<% end %>
